@using eLearnApps.Extension

@{
    ViewBag.Title = "eLearnApps - PFLTI";
    Layout = "~/Views/Shared/_LayoutClean.cshtml";
}
<style>
    .demo-section p {
        line-height: 50px;
        margin: 0 0 30px;
    }

        .demo-section p .k-button {
            margin: 0 10px 0 0;
        }

    .k-primary {
        min-width: 150px;
    }
</style>
<form method="post" action="@Url.Action("PFLTI", "Account")" id="form">

    <div class="row justify-content-center">
        <div class="col-md-6">


            <div class="card">
                <div class="card-header">
                    <strong>Horizontal</strong> Form
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="user_id">User Id</label>
                        <div class="col-md-9">
                            <input class="k-textbox" id="txtUserId" name="txtUserId" placeholder="Enter user id.." value="">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="btnSubmit" type="submit" data-content="ffts">Submit</button>
                </div>
            </div>
        </div>
        <div id="example">
            <input type="hidden" id="ReturnUrl" name="ReturnUrl" />
            <input type="hidden" id="user_id" name="user_id" />
            <input type="hidden" id="custom_customtool" name="custom_customtool" />
            <input type="hidden" id="oauth_signature" name="oauth_signature" />
            <input type="hidden" id="oauth_timestamp" name="oauth_timestamp" />
        </div>
    </div>

</form>
<script>

    $(document).ready(function () {
        var prefix = "test_";
        $("#btnSubmit").kendoButton();

        $("#btnSubmit").click(function(e) {
            e.preventDefault();
            var current = $("#txtUserId").val();
            $("#user_id").val(prefix + current);
            $('#form')[0].submit();
        });
    });
</script>

