@using System.Security.Claims
@using eLearnApps.Entity.Security
@using eLearnApps.Extension
@inject IServiceProvider ServiceProvider
@{
    var extensions = new Extensions(ServiceProvider);
}
<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav" id="leftMenu">


            @if (extensions.HasClaim(User.Identity, nameof(StandardPermissionProvider.ManageExtraction)))
            {
                <li class="nav-item">
                    <a id="icsHome" tag="#index" class="nav-link" href="@Url.Action("_Options", "EE", new { courseId = Context.Request.Query["courseId"] })">
                        <i class="nav-icon icon-home"></i> Exam Extraction
                    </a>
                </li>
            }


        </ul>
    </nav>
</div>

<script type="text/javascript">

    $(function () {
        console.log("Version: @ViewBag.GitHash");

        const courseDropdown = $("#course").data("kendoDropDownList");

        if (window.location.hash === "") {
            const first = $("#leftMenu li a.nav-link").first();
            $("a.nav-link").removeClass("active");
            first.addClass("active");
            window.location.hash = first.attr("tag");
            Navigate(first.attr("href"));
        } else {
            var current = location.href;

            $("#leftMenu li a.nav-link").each(function () {
                const tag = $(this).attr("tag");
                // if the current path is like this link, make it active
                if (current.indexOf(tag) !== -1) {
                    const url = $(this).attr("href");
                    $("a.nav-link").removeClass("active");
                    $(this).addClass("active");
                    window.location.hash = tag;
                    Navigate(url);
                }
            });
        }

        $("#leftMenu li a.nav-link").click(function (e) {
            e.preventDefault();
            const url = $(this).attr("href");
            const tag = $(this).attr("tag");
            $("a.nav-link").removeClass("active");
            $(this).addClass("active");
            window.location.hash = tag;
            Navigate(url);
        });

        function Navigate(url) {
            $("#main").html('');
            $("#main").load(url, function () {
            });
        }
    });

</script>

