@{
    ViewBag.Title = "No Permission";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="clearfix">
    <h1 class="float-left display-3 mr-4"><i class="fa fa-minus-circle"></i></h1>
    <h4 class="pt-4">You do not have permission right to access the tool you selected.</h4>
    <p class="text-muted">We apologize for the inconvenience.</p>
</div>
<div class="alert alert-danger" role="alert">
    You may contact eLearn support (<a href="mailto:eLearn@smu.edu.sg">elearn@smu.edu.sg</a>) for any further enquiry.
</div>

<p>
    <a href="https://www.smu.edu.sg/" target="_self"> back to smu home page</a>
</p>