
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}
<div class="clearfix">
    <h1 class="float-left display-3 mr-4">404</h1>
    <h4 class="pt-4">Oops! You're lost. Try going back to our <a href="https://www.smu.edu.sg/" target="_self"> Home page </a></h4>
    <p class="text-muted">The page you are looking for was not found.</p>
</div>
<div class="input-prepend input-group">
    <div class="input-group-prepend">
    </div>
</div>

